---
import BaseHead from '../../components/BaseHead.astro';
import Header from "../../components/Header.astro"
import Navbar from "../../components/Navbar.svelte"
import About from "../../components/About.astro"
import Footer from "../../components/Footer.astro"
import BlogCard from "../../components/BlogCard.astro"
import Posts from "../../components/Posts.svelte";

const language= {
nav : {
about: "O mně",
contact : "Kontakt",
portfolio : "Portfolio",
blog : "Blog"
}
}

console.log("Hello")
let allPosts = await Astro.glob('./*.md');
console.log("Point 2")
allPosts.map((post) => "Hello");
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

console.log(allPosts)

let title = 'Tomáš Kebrle - Student, programmer & web-developer';
let description = 'Hello 👋, I am a programmer, web-developer and web-designer from Czech republic.';
let permalink = 'https://tomaskebrle.cz';
---

<html lang="en">

<head>
  <BaseHead {title} {description} {permalink} />
  <script src="https://kit.fontawesome.com/0611ddbb9f.js" crossorigin="anonymous"></script>
</head>

<body>
  <style>
    main {
      background-image: linear-gradient(0deg, #031927 35%, rgba(3, 25, 39, 0.85) 100%), url("/assets/bg.jpg");
      background-position: center;
      background-size: cover;
    }
  </style>
  <main class="w-full px-4 lg:px-[16.666667%]">
    <Navbar language={language} />
    <header class="flex items-center justify-center h-max py-36" data-aos="fade-up">
      <div class="w-full">
        <span class="text-8xl text-white font-poppins flex justify-center text-center">
          Blog
        </span>
      </div>
    </header>
    <Posts allPosts={allPosts} client:load/>
  </main>
  <Footer></Footer>
  <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script is:inline>
    AOS.init({
      duration: 500,
    });
  </script>
</body>

</html>