---
import BaseHead from '../components/BaseHead.astro';
import BlogNavbar from '../components/BlogNavbar.svelte';

const { content } = Astro.props;
const { title, description, publishDate, slug } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<link rel="stylesheet" href="https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-night-owl.css"/>
		<BaseHead {title} {description} {slug} {publishDate} />
    <style>
      html {
        scroll-padding-top: 20px;
      }
    </style>
	</head >
	<body class="w-full bg-[#031927] lg:flex lg:justify-center p-4 lg:p-0 gap-32">
      <main class="lg:max-w-prose">
        <BlogNavbar client:load />
        <article class="prose prose-invert prose-headings:font-mono py-4">
          <span class="text-6xl font-mono text-white font-bold">{title}</span>
          <slot/>
        </article>
      </main>
      <aside>
        <!-- <TableOfContents client:only></TableOfContents> -->
        <div class="fixed pt-64">
          {content.astro.headers.map((heading) => 
              <a href={`#${heading.slug}`}>
                <div
                  class={`border-l-4 hover:border-[#BA1200] border-[#010c13] text-white text-lg pl-[${heading.depth * 0.25 * 6}rem] py-[3px]`}
                >
                  {heading.text}
                </div>
              </a>
            )}
        </div>
        
      </aside>
	</body>
</html>
